email-validator==2.3.0
Faker==40.40.0
fastapi==0.142.2
gevent==25.5.1
grpcio==1.71.0
grpcio-tools==1.71.0
httpx==0.28.1
load-testing-hub==0.6.0
locust==2.37.14
pydantic==2.13.5
pydantic-settings==2.15.0
uvicorn==0.54.0
